:root {
  --primary-100: #FFFDF5;
  --primary-200: #FFFBE5;
  --primary-300: #E8E3DA;
  --primary-400: #6E6B67;

  --accent-100: #E0EFDE;
  --accent-200: #569573;
  --accent-300: #406C55;

  --neutral-100: #F8F9FA;
  --neutral-200: #DEE2E6;
  --neutral-300: #ADB5BD;
  --neutral-400: #6C757D;
  --neutral-500: #343A40;
  --neutral-600: #212529;

  --gary-200: #DEE2E6;
  --gary-300: #ADB5BD;
  --gary-500: #343A40;

  --dark: #000000;
  --white: #FFFFFF;
  --info: #4A72FF;
  --success: #2CC585;
  --warning: #FFB054;
  --danger: #D65F5F; 

  --font-newsreader: "Newsreader", serif;

  --line-height-s: 1.2;
  --line-height: 1.5;
  --line-height-l: 1.75;

  --letter-spacing-s: 0.05em;
  --letter-spacing:0.1em;

  --font-black: 990;
  --font-bold: 700;
  --font-semiblod: 600;

  --border-radius-s: 4px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;
  --border-radius-xl: 100px;

}

*,*::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: var(--line-height);
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
h2, .h2 {
  font-size: 2rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
h3, .h3 {
  font-size: 1.75rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
h4, .h4 {
  font-size: 1.5rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-bold);
}
h5, .h5 {
  font-size: 1.25rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-bold);
}
h6, .h6 {
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
.fs-1 {
  letter-spacing: var(--letter-spacing-s);
  font-weight: var(--font-semiblod);
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: center;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.btn {
  display: flex;
  padding: 1rem 1.5rem;
  line-height: var(--line-height-s);
  background-color: var(--accent-200);
  font-weight: var(--font-bold);
  color: var(--white);
  border-radius: var(--border-radius-xl);
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
}

.btn.disabled {
  background-color: var(--gary-200);
}

.btn:hover {
  background-color: var(--accent-300);
  cursor: pointer;
}

.btn:hover.disabled {
  background-color: var(--gary-200);
  cursor: not-allowed;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  display: block;
  line-height: 0;
  width: 96px;
  transition: width .3s ease;
}

.header .collapse {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
}

.header .close-btn {
  display: none;
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 0;
  background-color: transparent;
  transition: all .3s ease;
}

.header .close-btn.show {
  display: block;
}

.header .close-btn:hover,
.header .close-btn:focus {
  cursor: pointer;
}

.header .close-btn span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 3px;
  border-radius: var(--border-radius-s);
  background-color: var(--dark);
}

.header .close-btn span:before,
.header .close-btn span:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: -8px;
  border-radius: var(--border-radius-s);
  background-color: var(--dark);
}

.header .close-btn span:after {
  top: 8px;
}

.header .search-form {
  position: relative;
  width: 100%;
  max-width: 276px;
}

.header .search-form input{
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--gary-200);
  border-radius: var(--border-radius-xl);
}

.header .search-form input:focus {
  outline: none;
  border: 1px solid var(--gary-200);
}

.header .search-form input::placeholder {
  font-weight: var(--font-semiblod);
  color: var(--gary-300);
  line-height: var(--line-height-l);
  letter-spacing: var(--letter-spacing);
}

.header .search-form input:focus::placeholder {
  color: var(--dark);
}

.header .search-form .search-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 36px 0;
}

.header .nav .nav-link {
  display: block;
  padding: 0.5rem 1.25rem;
  line-height: var(--line-height-s);
  font-weight: var(--font-bold);
  color: var(--gary-500);
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
}

.hero {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}