:root {
  --primary-100: #fffdf5;
  --primary-200: #fffbe5;
  --primary-300: #e8e3da;
  --primary-400: #6e6b67;

  --accent-100: #e0efde;
  --accent-200: #569573;
  --accent-300: #406c55;

  --neutral-100: #f8f9fa;
  --neutral-200: #dee2e6;
  --neutral-300: #adb5bd;
  --neutral-400: #6c757d;
  --neutral-500: #343a40;
  --neutral-600: #212529;

  --dark: #000000;
  --white: #ffffff;
  --info: #4a72ff;
  --success: #2cc585;
  --warning: #ffb054;
  --danger: #d65f5f;

  --font-newsreader: "Newsreader", serif;

  --line-height-s: 1.2;
  --line-height: 1.5;
  --line-height-l: 1.75;

  --letter-spacing-s: 0.05em;
  --letter-spacing: 0.1em;

  --font-black: 990;
  --font-bold: 700;
  --font-semiblod: 600;

  --border-radius-s: 4px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;
  --border-radius-xl: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: var(--line-height);
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
  margin-bottom: 1rem;
}
h2,
.h2 {
  font-size: 2rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
h3,
.h3 {
  font-size: 1.75rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
h4,
.h4 {
  font-size: 1.5rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-bold);
}
h5,
.h5 {
  font-size: 1.25rem;
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-bold);
}
h6,
.h6 {
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-black);
}
.fs-1 {
  letter-spacing: var(--letter-spacing-s);
  font-weight: var(--font-semiblod);
}
time {
  display: block;
  font-weight: var(--font-bold);
  color: var(--neutral-300);
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 2.5rem;
  transition: all 0.3s ease;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none; /* 完全隱藏 */
  -webkit-appearance: none; /* 移除預設樣式，確保相容 */
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.btn {
  display: flex;
  padding: 1rem 1.5rem;
  line-height: var(--line-height-s);
  background-color: var(--accent-200);
  font-weight: var(--font-bold);
  color: var(--white);
  border-radius: var(--border-radius-xl);
  letter-spacing: var(--letter-spacing);
  transition: all 0.3s ease;
}

.btn.disabled {
  background-color: var(--neutral-200);
}

.btn:hover {
  background-color: var(--accent-300);
  cursor: pointer;
}

.btn:hover.disabled {
  background-color: var(--neutral-200);
  cursor: not-allowed;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  display: block;
  line-height: 0;
  width: 96px;
  transition: width 0.3s ease;
}

.header .collapse {
  flex: 1;
  width: 100%;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: var(--white);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transform: translateY(-100%);
  opacity: 0;
  transition: display .3s ease-in, transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 1s ease-in-out;
  z-index: 1000;
}

.header .close-btn {
  display: none;
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 1001;
}

.header .close-btn.show {
  display: block;
}

.header .close-btn:hover,
.header .close-btn:focus {
  cursor: pointer;
}

.header .close-btn span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 3px;
  border-radius: var(--border-radius-s);
  background-color: var(--dark);
}

.header .close-btn span:before,
.header .close-btn span:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: -8px;
  border-radius: var(--border-radius-s);
  background-color: var(--dark);
}

.header .close-btn span:after {
  top: 8px;
}

.header .close-btn.open span {
  background-color: transparent;
}

.header .close-btn.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.header .close-btn.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.header .search-form {
  position: relative;
  width: 100%;
  max-width: 276px;
}

.header .search-form:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  right: .75rem;
  transform: translateY(-50%);
  background-size: 18px 18px;
  background-position: center center;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2413_1882)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6612 15.6633C15.8005 15.5239 15.966 15.4132 16.148 15.3377C16.3301 15.2622 16.5253 15.2234 16.7225 15.2234C16.9196 15.2234 17.1148 15.2622 17.2969 15.3377C17.479 15.4132 17.6444 15.5239 17.7837 15.6633L23.5587 21.4383C23.8402 21.7196 23.9984 22.1011 23.9985 22.499C23.9987 22.8969 23.8407 23.2786 23.5595 23.5601C23.2782 23.8415 22.8966 23.9997 22.4987 23.9999C22.1008 24 21.7192 23.8421 21.4377 23.5608L15.6627 17.7858C15.5232 17.6465 15.4126 17.4811 15.3371 17.299C15.2616 17.1169 15.2228 16.9217 15.2228 16.7246C15.2228 16.5274 15.2616 16.3323 15.3371 16.1502C15.4126 15.9681 15.5232 15.8026 15.6627 15.6633H15.6612Z' fill='%23569573'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.75 18C10.8334 18 11.9062 17.7866 12.9071 17.372C13.9081 16.9574 14.8175 16.3497 15.5836 15.5836C16.3497 14.8175 16.9574 13.9081 17.372 12.9071C17.7866 11.9062 18 10.8334 18 9.75C18 8.66659 17.7866 7.5938 17.372 6.59286C16.9574 5.59193 16.3497 4.68245 15.5836 3.91637C14.8175 3.15029 13.9081 2.5426 12.9071 2.12799C11.9062 1.71339 10.8334 1.5 9.75 1.5C7.56196 1.5 5.46354 2.36919 3.91637 3.91637C2.36919 5.46354 1.5 7.56196 1.5 9.75C1.5 11.938 2.36919 14.0365 3.91637 15.5836C5.46354 17.1308 7.56196 18 9.75 18ZM19.5 9.75C19.5 12.3359 18.4728 14.8158 16.6443 16.6443C14.8158 18.4728 12.3359 19.5 9.75 19.5C7.16414 19.5 4.68419 18.4728 2.85571 16.6443C1.02723 14.8158 0 12.3359 0 9.75C0 7.16414 1.02723 4.68419 2.85571 2.85571C4.68419 1.02723 7.16414 0 9.75 0C12.3359 0 14.8158 1.02723 16.6443 2.85571C18.4728 4.68419 19.5 7.16414 19.5 9.75Z' fill='%23569573'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2413_1882'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.header .search-form input {
  width: 100%;
  padding: 12px 20px 12px 100px;
  border: 1px solid var(--neutral-200);
  border-radius: var(--border-radius-xl);
  caret-color: var(--neutral-500)
}

.header .search-form input:focus {
  outline: none;
  border: 1px solid var(--neutral-200);
}

.header .search-form input::placeholder {
  color: transparent;
}

.header .search-form input + label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;;
  width: max-content;
  font-weight: var(--font-semiblod);
  color: var(--neutral-300);
  line-height: var(--line-height-l);
  letter-spacing: var(--letter-spacing);
}

.header .search-form input:focus + label{
  color: var(--dark);
}

.header .search-form .search-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 36px 0;
}

.header .nav .nav-item {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header .collapse.show .nav .nav-item {
  opacity: 1;
  transform: translateY(0);
}

.header .collapse.show .nav .nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.header .collapse.show .nav .nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.header .collapse.show .nav .nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.header .collapse.show .nav .nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.header .nav .nav-link {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  line-height: var(--line-height-s);
  font-weight: var(--font-bold);
  color: var(--neutral-500);
  letter-spacing: var(--letter-spacing);
  transition: all 0.3s ease;
}

.header .nav .nav-link:hover {
  color: var(--accent-200);
}

/* content */

.content.article {
  padding: 5rem 0 6.25rem;
}

.content.about {
  padding-top: 5rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  gap: 17px;
  margin-bottom: 20px;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li:not(:first-child):before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 60%;
  background-color: var(--neutral-400);
  top: 50%;
  left: -9px;
  transform: translateY(-50%) rotate(15deg);
}

.breadcrumb li a {
  display: block;
  color: var(--neutral-400);
  font-weight: var(--font-semiblod);
  letter-spacing: var(--letter-spacing-s);
  transition: all 0.3s ease;
}

.breadcrumb li.active a,
.breadcrumb li a:hover,
.breadcrumb li a:focus {
  color: var(--accent-200);
}

.footer {
  border-top: 1px solid var(--neutral-300);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  font-weight: 400;
  color: var(--neutral-400);
  letter-spacing: var(--letter-spacing-s);
}

/* ====================================================== */

@media (max-width: 991.98px) {
  h1,
  .h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  time {
    font-weight: var(--font-semiblod);
    color: var(--neutral-300);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-s);
    margin-bottom: 1.75rem;
  }

  .header {
    padding: 8px 4px 8px 12px;
  }

  .header .logo {
    width: 68px;
  }

  .header .collapse {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0;
    padding: 4.75rem 0.75rem;
  }

  .header .collapse.show {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }

  .header .collapse.show .search-form {
    margin-bottom: 24px;
    max-width: 100%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition-delay: 0.05s;
  }

  .header .collapse nav {
    width: 100%;
  }

  .header .collapse.show .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.5rem;
  }

  .header .collapse.show .nav .nav-item {
    width: 100%;
  }

  .header .collapse.show .nav .nav-link {
    padding: 12px 0;
    width: 100%;
    font-size: 1rem;
  }

  .header .collapse.show .nav .nav-item .btn {
    width: 100%;
    justify-content: center;
  }

  .header .close-btn {
    display: block;
  }

  .content.article {
    padding: 2.5rem 0 3.75rem;
  }

  .breadcrumb li a {
    font-size: 0.875rem;
    line-height: 2;
  }

  .footer {
    font-size: 0.875rem;
  }

  .mobile-version-image {
    display: block;
  }

  .desktop-version-image {
    display: none;
  }
}

@media (min-width: 992px) {
  .header .collapse {
    display: flex;
    transform: none;
    opacity: 1;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .header .nav .nav-item {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }
}
