@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap");

@import "./reset.css";
@import "./base.css";

/* hero */

.hero {
  aspect-ratio: 1296 / 454;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-version-image {
  display: none;
}

/* Blog */
.blog p {
  font-weight: var(--font-semiblod);
  color: var(--neutral-500);
  margin-bottom: 2.5rem;
  letter-spacing: var(--letter-spacing-s);
}

@media (max-width: 991.98px) {
  .hero {
    aspect-ratio: 375 / 240;
  }

  .mobile-version-image {
    display: block;
  }

  .desktop-version-image {
    display: none;
  }
  .blog p {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767.98px) {
}
